@keyframes Category-Appear {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes Category-Appear {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes Category-Disappear {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}
@-webkit-keyframes Category-Disappear {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}