@media only screen and (max-width: 750px) {     // Mobile
    #Menu {
        display: none;
    }
    #Notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        .NotePaper {
            width: calc(100vw - 20px);
            min-width: 400px;
            max-width: 550px;
            height: calc(100vw - 20px);
            min-height: 400px;
            max-height: 550px;
            margin: 10px;
            padding: 10px;
        }
    }
}

@media only screen and (min-width: 751px) {     // Desktop
    #NotesContainer {
        padding: 20px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: 2fr minmax(330px,460px);
        grid-template-areas:
            "notes aside";
        #Menu {
            display: none;
        }
        #Notes {
            grid-area: notes;
            margin: 20px 7px 10px 7px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .NotePaper {
                width: calc(50vw - 20px);
                min-width: 380px;
                max-width: 550px;
                height: calc(50vw - 20px);
                min-height: 380px;
                max-height: 550px;
                margin: 10px;
                padding: 10px;
            }
        }
        #Aside {
            grid-area: aside;
            min-width: 300px;
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (min-width: 1290px) {    // Wide screen
    #NotesContainer {
        margin: auto;
        max-width: 1400px;
        display: grid;
        grid-template-columns: minmax(200px,250px) 1fr minmax(350px,460px);
        grid-template-areas:
            "menu notes aside";
        grid-gap: 15px;
        #Menu {
            grid-area: menu;
            display: block;
        }
        #Notes {
            grid-area: notes;
            .NotePaper {
                width: 550px;
                height: 550px;
            }
        }
        #Aside {
            grid-area: aside;
        }
    }
}