@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$default-fontsize: 14px;
$default-font: Montserrat, sans-serif;
$black: #303030;
$yellow: #F5AB35;
$yellow2: #F5CC18;
$dark: #101010;

@media screen {
    body {
        min-width: 420px;
        background-color: $black;
        color: white;
        font-size: $default-fontsize;

        //overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            background: $dark;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $yellow;
            border-radius: 20px;
            border: 3px solid $dark;
        }
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: $yellow $dark;
    }
}